/*CTA layer css*/
#bg-exit {
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1000;
}