* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 120px;
  height: 600px;
  position: relative;
  background: #ffffff;
  border: solid 1px #cccccc;
  overflow: hidden;

  img, div {
    position: absolute;
  }

  #logo {
   /* transform: scale(0.6);*/
    top: 264px;
    left: 4px;
    transform-origin: 50% 0%;
    z-index: 1;
    width: 110px;
    height: 65px;
  }

  #present {
    transform: scale(0.15);
    left: 18px;
    top: 178px;
    transform-origin: 50% 0%;
    opacity: 0;
    z-index: 3;
  }

  #maxibons {
    transform-origin: 50% 0%;
    transform: scale(0.4);
    top: 258px;
    left: 0;
    opacity: 0;
    z-index: 2;
  }

  #prix {
   transform: scale(0.5);
   transform-origin: 50% 100%;
   top: 389px;
   left: 5px;
   opacity: 0;
   z-index: 1;
   height: auto;
  }

  #cta-2 {
    left: 3px;
    top: 525px;
    opacity: 0;
    transform: translateY(100%);
    z-index: 1;
  }

  #cta-1 {
    left: 3px;
    top: 85px;
    opacity: 0;
    transform: translateY(100%);
    z-index: 1;
  }

  #survos {
    left: 10px;
    top: 135px;
    opacity: 0;
    transform: translateY(100%);
    z-index: 1;
  }

  #product-1 {
    top: 0px;
    left: 20px;
    opacity: 0;
    z-index: 5;
  }

  #product-2 {
    /*transform: scale(0.75);*/
    top: -140px;
    left: 20px;
    z-index: 3;
    opacity: 0;
  }

  #product-3 {
   /* transform: scale(0.55);*/
    top: -70px;
    left: 20px;
    z-index: 4;
    opacity: 0;
  }

  #product-4 {
    /*transform: scale(0.81);*/
    top: -280px;
    left: 32px;
    z-index: 3;
    opacity: 0;
  }

  #product-5 {
    /*transform: scale(0.58);*/
    top: -210px;
    left: 18px;
    z-index: 2;
    opacity: 0;
  }

  #text-bg {
    left: 0;
    bottom: 0;
    z-index: 1;
  }

  #text-run {
    text-align: left;
    font-family: sans-serif;
    font-size: 10px;
    color: rgb(7,26,99);
    height: 84px;
    width: 1500px;
    top: 585px;
    left: 320px;
    z-index: 2;
  }
}