* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 728px;
  height: 90px;
  position: relative;
  background: #ffffff;
  border: solid 1px #cccccc;
  overflow: hidden;

  img, div {
    position: absolute;
  }

  #logo {
    top: 8px;
    left: 300px;
    transform-origin: 50% 0%;
    z-index: 1;
  }

  #present {
    transform: scale(0.15);
    transform-origin: 50% 0%;
    opacity: 0;
    left: 374px;
    top: 32px;
    z-index: 3;
  }

  #maxibons {
    transform: scale(0.77);
    transform-origin: 50% 0%;
    top: 5px;
    left: 133px;
    opacity: 0;
    z-index: 2;
  }

  #prix {
    transform: scale(0.5);
    transform-origin: 50% 100%;
    top: 14px;
    left: 279px;
    opacity: 0;
    z-index: 1;
    width: 410px;
    height: auto;
  }

  #prix-effect {
    transform-origin: 75% 50%;
    z-index: 2;
    top: 10px;
    left: 230px;
    opacity: 0;
  }

  #cta {
    left: 463px;
    top: -9px;
    opacity: 0;
    transform: translateY(100%);
    z-index: 1;
  }

  #survos {
    left: 319px;
    top: 25px;
    opacity: 0;
    transform: translateY(100%);
    z-index: 1;
  }

  #product-1 {
    top: 6px;
    left: 264px;
    transform: scale(0.76);
    opacity: 0;
    z-index: 3;
  }

  #product-2 {
    transform: scale(0.75);
    bottom: 25px;
    left: 268px;
    z-index: 2;
    opacity: 0;
  }

  #product-3 {
    transform: scale(0.55);
    bottom: 25px;
    left: 262px;
    z-index: 2;
    opacity: 0;
  }

  #product-4 {
    transform: scale(0.81);
    bottom: 29px;
    left: 288px;
    z-index: 1;
    opacity: 0;
  }

  #product-5 {
    transform: scale(0.58);
    bottom: 29px;
    left: 251px;
    z-index: 1;
    opacity: 0;
  }

  #text-bg {
    left: 0;
    bottom: 0;
    z-index: 1;
  }

  #text-run {
    text-align: left;
    font-family: sans-serif;
    font-size: 10px;
    color: #071a63;
    width: 1500px;
    bottom: 2px;
    left: 728px;
    z-index: 2;
  }
}