* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 300px;
  height: 250px;
  position: relative;
  background: #ffffff;
  border: solid 1px #cccccc;
  overflow: hidden;

  img, div {
    position: absolute;
  }

  #logo {
    top: 80px;
    left: 72px;
    transform-origin: 50% 0%;
    z-index: 1;
  }

  #present {
    transform: scale(0.15);
    transform-origin: 50% 0%;
    opacity: 0;
    left: 110px;
    top: 53px;
    z-index: 3;
  }

  #maxibons {
    transform: scale(0.77);
    transform-origin: 50% 0%;
    top: 71px;
    left: 31px;
    opacity: 0;
    z-index: 2;
  }

  #prix {
    transform: scale(0.5);
    transform-origin: 50% 100%;
    top: 49px;
    left: 13px;
    opacity: 0;
    z-index: 1;
  }

  #prix-effect {
    transform-origin: 75% 50%;
    z-index: 2;
    top: -38px;
    left: 10px;
    opacity: 0;
  }

  #cta {
    left: 66px;
    top: 191px;
    opacity: 0;
    transform: translateY(100%);
    z-index: 1;
  }

  #survos {
    left: 20px;
    top: 51px;
    opacity: 0;
    transform: translateY(100%);
    z-index: 1;
  }

  #product-1 {
    top: 95px;
    left: 104px;
    transform: scale(0.76);
    opacity: 0;
    z-index: 3;
  }

  #product-2 {
    transform: scale(0.75);
    top: 116px;
    left: 107px;
    z-index: 2;
    opacity: 0;
  }

  #product-3 {
    transform: scale(0.55);
    top: 95px;
    left: 105px;
    z-index: 2;
    opacity: 0;
  }

  #product-4 {
    transform: scale(0.81);
    top: 128px;
    left: 127px;
    z-index: 1;
    opacity: 0;
  }

  #product-5 {
    transform: scale(0.58);
    top: 118px;
    left: 105px;
    z-index: 1;
    opacity: 0;
  }

  #text-bg {
    left: 0;
    bottom: 0;
    z-index: 1;
  }

  #text-run {
    text-align: left;
    font-family: sans-serif;
    font-size: 10px;
    color: rgb(7,26,99);
    height: 84px;
    width: 1500px;
    top: 235px;
    left: 320px;
    z-index: 2;
  }
}