* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 300px;
  height: 600px;
  position: relative;
  background: #ffffff;
  border: solid 1px #cccccc;
  overflow: hidden;

  img, div {
    position: absolute;
  }

  #logo {
    top: 251px;
    left: 72px;
    transform-origin: 50% 0%;
    z-index: 1;
  }

  #present {
    transform: scale(0.15);
    transform-origin: 50% 0%;
    opacity: 0;
    left: 110px;
    top: 161px;
    z-index: 3;
  }

  #maxibons {
    transform: scale(0.3);
    transform-origin: 50% 0%;
    top: 188px;
    left: 24px;
    opacity: 0;
    z-index: 10;
  }

  #prix {
    transform: scale(0.5);
    transform-origin: 50% 100%;
    top: 352px;
    left: 10px;
    opacity: 0;
    z-index: 1;
  }

  #prix-effect {
    transform-origin: 75% 50%;
    z-index: 2;
    top: 256px;
    left: 168px;
    opacity: 0;
  }
  .mask-cta {
    left: 67px;
    top: 511px;
    z-index: 10;
    .wrap-cta {
      position: relative;
      display:block;
      width:164px;
      height: 33px;
      text-align:center;
      background-position: -162px 0;
      /*-webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,.5));*/ 
      img {
        position: initial;
      }
    }
    .wrap-cta:after {
      content:'';
      position: absolute;
      pointer-events: none;
      top:0; left:0; right:0; bottom: 0;
      background: radial-gradient(0 0,circle farthest-side, rgba(255,255,255,0) 90%,rgba(255,255,255,.8) 98%,rgba(255,255,255,0) 100%) no-repeat;
      background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 90%,rgba(255,255,255,.8) 98%,rgba(255,255,255,0) 100%) no-repeat;
      background-position: inherit; 
      -webkit-mask: url('cta.png') center;
      mask: url('cta.png') center;
      z-index: 10;
    }
  }

  #cta {
    opacity: 0;
    transform: translateY(100%);
    z-index: 10;
  }

  .mask-cta2 {
    left: 67px;
    top: 100px;
    z-index: 10;
    .wrap-cta2 {
      position: relative;
      display:block;
      width:164px;
      height: 33px;
      text-align:center;
      background-position: -162px 0;
      /*-webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,.5));*/ 
      img {
        position: initial;
      }
    }
    
    .wrap-cta2:after {
      content:'';
      position: absolute;
      pointer-events: none;
      top:0; left:0; right:0; bottom: 0;
      background: radial-gradient(0 0,circle farthest-side, rgba(255,255,255,0) 90%,rgba(255,255,255,.8) 98%,rgba(255,255,255,0) 100%) no-repeat;
      background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 90%,rgba(255,255,255,.8) 98%,rgba(255,255,255,0) 100%) no-repeat;
      background-position: inherit; 
      -webkit-mask: url('cta.png') center;
      mask: url('cta.png') center;
      z-index: 10;
    }
  }

  #cta2 {
    opacity: 0;
    transform: translateY(100%);
    z-index: 10;
  }

  #survos {
    left: 24px;
    top: 150px;
    opacity: 0;
    transform: translateY(100%);
    z-index: 10;
  }

  #product-1 {
    top: 50px;
    left: 154px;
    /*transform: scale(0.76);*/
    opacity: 0;
    z-index: 3;
    transform: translateY(100%);
  }

  #product-2 {
    /*transform: scale(0.75);*/
    top: 50px;
    left: 65px;
    width: 98px;
    height: auto;
    z-index: 2;
    opacity: 0;
    transform: translateY(100%);
  }

  #product-3 {
   /* transform: scale(0.55);*/
    top: 50px;
    left: 152px;
    width: 71px;
    height: auto;
    z-index: 2;
    opacity: 0;
    transform: translateY(100%);
  }

  #product-4 {
    /*transform: scale(0.81);*/
    top: 50px;
    left: 67px;
    z-index: 4;
    opacity: 0;
    transform: translateY(100%);
    width: 82px;
    height: auto;
  }

  #product-5 {
    /*transform: scale(0.58);*/
    top: 50px;
    left: 60px;
    z-index: 1;
    opacity: 0;
    transform: translateY(100%);
  }

  #text-bg {
    left: 0;
    bottom: 0;
    z-index: 1;
  }

  #text-run {
    text-align: left;
    font-family: sans-serif;
    font-size: 10px;
    color: rgb(7,26,99);
    height: 84px;
    width: 1600px;
    top: 585px;
    left: 320px;
    z-index: 2;
  }
}

@-webkit-keyframes NAME-YOUR-ANIMATION {
  0%   {  background-position: -162px 0; }
  100% { background-position: 13px 0;
  /*change speed to see in slow motion*/
  transition: all 9s;
  -webkit-transition: all 9s;
  -moz-transition: all 9s;
  -ms-transition: all 9s;
-o-transition: all 9s; }
}
@-moz-keyframes NAME-YOUR-ANIMATION {
  0%   {  background-position: -162px 0; }
  100% { background-position: 13px 0;
  /*change speed to see in slow motion*/
  transition: all 9s;
  -webkit-transition: all 9s;
  -moz-transition: all 9s;
  -ms-transition: all 9s;
  -o-transition: all 9s; }
}
@-o-keyframes NAME-YOUR-ANIMATION {
  0%   {  background-position: -162px 0; }
  100% { background-position: 13px 0;
  /*change speed to see in slow motion*/
  transition: all 9s;
  -webkit-transition: all 9s;
  -moz-transition: all 9s;
  -ms-transition: all 9s;
  -o-transition: all 9s; }
}
@keyframes NAME-YOUR-ANIMATION {
  0%   {  background-position: -162px 0; }
  100% { background-position: 13px 0;
  /*change speed to see in slow motion*/
  transition: all 9s;
  -webkit-transition: all 9s;
  -moz-transition: all 9s;
  -ms-transition: all 9s;
  -o-transition: all 9s; }
}

.wrap-cta-shine {
    -webkit-animation: NAME-YOUR-ANIMATION 1s 1s; /* Safari 4+ */
    -moz-animation:    NAME-YOUR-ANIMATION 1s 1s; /* Fx 5+ */
    -o-animation:      NAME-YOUR-ANIMATION 1s 1s; /* Opera 12+ */
    -ms-animation:      NAME-YOUR-ANIMATION 1s 1s; /* Opera 12+ */
    animation:         NAME-YOUR-ANIMATION 1s 1s; /* IE 10+, Fx 29+ */
}